In [6]:
import pandas as pd
df = pd.DataFrame(columns=["S", "I", "R"])

In [9]:
df.append({
    'S': 2,
    'I': 3,
    'R': 4}, ignore_index=True)

   S  I  R
0  2  3  4

In [17]:
df = df.append({
    'S': 2,
    'I': 3,
    'R': 4}, ignore_index=True)

In [18]:
df

   S  I  R
0  2  3  4
1  2  3  4
2  2  3  4